# ==========================================
# AVALON SYSTEM - DEPENDÊNCIAS DO PROJETO
# ==========================================

# Motor de Audição (Speech-to-Text)
faster-whisper
SpeechRecognition
pyaudio

# Cérebro e Lógica (IA)
openai
python-dotenv

# Motor de Voz (Text-to-Speech)
edge-tts
pygame

# Interface Gráfica (GUI 3D)
customtkinter
pillow
